In [3]:
import pandas as pd
data = {
    "Name": ["Mans", "Amina", "Chris", "Chorni", "Sanzh"],
    "Age": [19, 17, 22, 16, 18],
    "Score": [100, 88, 92, 67, 52]
}

df = pd.DataFrame(data)
df
# First 3 rows
df.head(3)
# Summary statistics
df.describe()
# Average score
average_score = df["Score"].mean()
print("Average Score:", average_score)
# Students older than 20
df[df["Age"] > 20]
# Students with score above 80
df[df["Score"] > 80]

Average Score: 79.8

    Name  Age  Score
0   Mans   19    100
1  Amina   17     88
2  Chris   22     92